h1, h4 {
    color: rgb(240, 248, 255);
    font-weight: 300;
    padding-left: 20px;
}

h1 {
    font-size: 248px;
}

h4 {
    padding-left: 35px;
    color: rgb(179, 203, 224);
}

h2 {
    position: absolute;
    color: rgb(255, 255, 255);
    font-weight: 400;
    font-size: 148px;
}

h3 {
    position: absolute;
    color: rgb(208, 208, 208);
    font-weight: 350;
    font-size: 60px;
}

.large-title-information {
    left: 100px;
    top: 100px;
    
}

.medium-title-information {
    left: 200px;
    top: 260px;
}

.texte-inscription {
    font-size: 24px;
    padding-top: 7px;
    padding-left: 15px;
    color: aliceblue;
}

.texte-voir-plus {
    position: absolute;
    text-decoration: underline;
    left: 110px;
    top: 95%;
    font-size: 15px;
}

.titre-2 {
    position: absolute;
    left: 5%;
    top: 450px;
    font-size: 64px;
    color: rgb(106, 106, 106);
}

.information-1 {
    position: absolute;
    color: rgb(255, 255, 255);
    font-weight: 400;
    font-size: 148px;
    left: 100px;
    top: 100px;
}